# 忽略所有 PyTorch 模型权重文件
*.pt

# 忽略所有 CSV 数据文件
#*.csv

# 忽略所有 Jupyter Notebook 检查点
.ipynb_checkpoints/

# 忽略所有 Python 编译/缓存文件
__pycache__/
*.pyc
# 也可以只忽略特定目录下的缓存
src/backtest/__pycache__/
src/data_adapters/__pycache__/
src/models/__pycache__/
src/__pycache__/
src/pipeline/__pycache__/
src/utils/__pycache__/
# ... 等等

# 忽略输出目录中的所有文件
# 建议：如果 out/ 目录只包含生成的文件，可以忽略整个目录
out/

# 忽略特定的文件
futurepricegeter.ipynb
src/backtest/backtest-old.py
src/inference/realtime_server-old1.py
src/inference/realtime_server-old.py
src/inference/realtime_server-newstnotwork.py
src/inference/realtime_server-10212257.py
src/models/debug_xgb_dmatrix.py
src/models/ensemble_old.py
src/models/xgb_multitask-old.py
src/pipeline/build_dataset-old.py
src/training/train_ddp-new0workmac.py
src/training/train_ddp-newnotwork1022.py
src/training/train_ddp-old.py
src/training/train_ensemble-old.py
